# Ignore everything in the results directory
results/*

# Ignore the cpu_ram and power_consumption directories
results/cpu_ram/
results/power_consumption/

# Unignore all example files
!results/cpu_ram/*.example.png
!results/cpu_ram/*.example.log
!results/power_consumption/*.example.png
!results/power_consumption/*.example.log

# Ignore videos & venv as well
videos/*
scripts/venv/
